@using System.Web.Optimization;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8"  />
    <title>@ViewBag.title</title>
     @Styles.Render("~/styles")
</head>
<body>
    <div class="site-headder">
        <header class="container">
            <h1 class="page-headder">
                <a href="@Url.RouteUrl("Home")">Awesome Blog!</a>
                <small>a simple blog powered by ASP.net MVC</small>
            </h1>
        </header>
    </div>

    <div class="container">
        

        <div class="row">
            <div class="col-lg-8">
                @RenderBody()
            </div>
            <div class="col-lg-4">
                @if (User.Identity.IsAuthenticated)
                {
                    
                    <a href="@Url.RouteUrl("logout")" class="btn btn-danger btn-sm">Log out</a>
                    if (User.IsInRole("admin"))
                    {
                        <a href="@Url.Action("index","Post",new { area = "admin"})" class="btn btn-success btn-sm">View Post in admin</a>
                    }
                }
                else
                {
                    <a href="@Url.RouteUrl("Login")" class="btn btn-secondary btn-sm">Login</a>
                }

               @Html.Action("Sidebar","Layout")
            </div>
        </div>
        
    </div>
    <footer class="fotr">
        &copy; @DateTime.UtcNow.Year Shiyan Sirisena
    </footer>


    
   
    
    
    @Scripts.Render("~/scripts")
    </body>
</html>
